
.svg-container {
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 10px; 
}

/* Reload Icon */

#edge-angle {
    fill: white;
}

#circle  {
    stroke: white;
}

#Background:hover {
    fill: black;
}

#Reload-icon:hover #circle,
#Reload-icon:hover #edge-angle {
    transform: rotate(360deg);
    transform-origin: center;
    transition: transform 0.5s ease; 
}

#Reload-icon:hover #circle,
#Reload-icon:hover #edge-angle {
    animation: reloadanimation 1s infinite linear; 
}

@keyframes reloadanimation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* X logo  */

#back:hover {
    fill: rgb(255, 4, 4);
}

#x-sign {
    fill: rgb(38, 255, 0);
}

#x-sign:hover {
    fill: purple;
    transition: all 0.5s ease;
}

#x-sign:hover {
    animation: moveUpDown 2s ease-in-out infinite;
}

@keyframes moveUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}


/* wine time */

#content:hover {
    fill: rgb(255, 0, 0); 
    animation: moveUpDown 2s ease-in-out infinite; 
}

/* Sign In Icon */

#text {
    opacity: 0;
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1; 
    }
}

#background {
    transform-origin: center;
    animation: heartbeat 1s infinite; 
}

#container:hover #background {
    animation: heartbeat-hover 1s infinite; 
}

@keyframes heartbeat {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}


/* Zima Logo */

#elipse {
    fill: green
}

#zima-text:hover {
    fill: red;
    transition: all 1s ease;
    animation: moveLeftAndRight 8s linear infinite;
}

  
@keyframes moveLeftAndRight {
    0%, 100% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(20px);
    }
    50% {
      transform: translateX(0);
    }
    75% {
      transform: translateX(-20px);
    }
  }